div#homeMain {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin: 0 auto 0 auto;
    align-self: center;
    justify-self: center;
    border-style: double;
    border-radius: 5px;
    border-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

div#homeMain h1#login {
    color: #353535;
    font-size: 32px;
    margin: 50px auto 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#homeMain h1#text {
    color: rgb(71, 71, 71);
    font-size: 13px;
    margin: 10px 0 10px;
}

div#homeMain .buttons {
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

div#homeMain button {
    color: rgb(18, 42, 124);
    background-color: rgb(241, 241, 241);
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    transition: 0.8s;
}

div#homeMain button:hover {
    background: rgb(26, 61, 179);
    color: rgb(241, 241, 241);
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    cursor: pointer;
}

