div#cadastrar button#editdoorman {
    background: rgb(163, 0, 0);
    padding: 4px 7px 4px 7px;
    width: auto;
    border-radius: 4px;
    border: none;
    margin-top: 170px;
    margin-left: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}